.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cards .card {
  list-style: none;
  width: 33.3333333333%;
  margin-right: 1em;
  padding: 1em;
  border: 1px solid black;
  text-align: center;
}

.cards .card li {
  margin-bottom: 1em;
}

